<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57873147160-43fcggmdal1gcr80ch5tvddles4pc0ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57873147160-43fcggmdal1gcr80ch5tvddles4pc0ub</string>
	<key>API_KEY</key>
	<string>AIzaSyD-elvIagiJyCVobCMpSdvc0yMv0qI2gpw</string>
	<key>GCM_SENDER_ID</key>
	<string>57873147160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasinozmeen.XoX-MVVM-ProgrammaticUI</string>
	<key>PROJECT_ID</key>
	<string>xox-mvvm-programmaticui</string>
	<key>STORAGE_BUCKET</key>
	<string>xox-mvvm-programmaticui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57873147160:ios:31c1dd367d23f0bdafea6d</string>
</dict>
</plist>